.offre-3452JZF_ {
  display: flex;
}
.forfeit-5678JHJZ2_E {
  width: 80%;
  height: 800px;
}
.offre-567JSZD78 {
  width: 20%;
  margin-left: 20px;
  margin-top: 210px;
  background-color: teal;
  color: white;
  margin-bottom: 30px;
  padding: 2px;
}
.offre-567JSZD78 span {
  font-size: 20px;
}
.gestion-ADMI567E_H {
  margin-top: 100px;
  margin-left: 20px;
}
span {
  font-size: 40px;
}
.offres67689 {
  margin-top: 50px;
}
.part1_3FVJK {
  display: flex;
  justify-content: space-between;
}
.A2563762_HD {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 3px;
  height: 250px;
  display: flex;
  color: rgb(1, 19, 13);
  font-weight: 520;
  flex-direction: column;
  border-left: 1px solid rgb(174, 243, 234);
  border-right: 1px solid rgb(174, 243, 234);
  border-bottom: 1px solid rgb(174, 243, 234);
}
.header {
  font-size: 20px;
  padding: 5px;
  text-align: center;
  align-items: center;
  height: 20px;
  background-color: rgb(174, 243, 234);
}
li {
  list-style: none;
  margin-bottom: 3px;
  font-weight: 500;
}
li::first-letter {
  text-transform: capitalize;
  font-size: 18px;
  color: rgb(107, 92, 64);
}
.offre-spec {
  text-align: center;
  margin-top: 50px;
}
.cadre {
  padding: 30px;
  height: 100px;
  margin: 10px;
  border: 7px solid transparent;
  border-image: url('./assets/cadre.png') 30 stretch;
  font-size: 30px;
}

@media(max-width:550px) {
  .offre-3452JZF_ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('./assets/backg.jpg');
    height: 2080px;
  }
  .forfeit-5678JHJZ2_E {
    width: 100%;
    display: block;
  }
  .offres67689 {
    display: flex;
    flex-direction: column;
  }
  .part1_3FVJK {
    display: flex;
    flex-direction: column;
  }
  .A2563762_HD {
    width: 100%;
  }
  .offre-567JSZD78 {
    width: 95%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 3px;
    margin-top: 1280px;
  }
}

@media (min-width:551px) and (max-width:1145px) {
  .forfeit-5678JHJZ2_E {
    width: 70%;
    height: 800px;
  }
  .offre-567JSZD78 {
    width: 30%;
    margin-left: 20px;
    margin-top: 260px;
    background-color: teal;
    color: white;
    margin-bottom: 60px;
    padding: 2px;
  }
  .part1_3FVJK {
    display: flex;
    flex-direction: column;
  }
  .offres67689 {
    display: flex;
  }
  .A2563762_HD {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 3px;
    height: 250px;
    display: flex;
    color: rgb(1, 19, 13);
    font-weight: 520;
    flex-direction: column;
    border-left: 1px solid rgb(174, 243, 234);
    border-right: 1px solid rgb(174, 243, 234);
    border-bottom: 1px solid rgb(174, 243, 234);
  }
  .offre-3452JZF_ {
    display: flex;
    background-image: url('./assets/backg.jpg');
    background-repeat: no-repeat;
    height: 1180px;
  }
}

@media(min-width:1146px) {
  .offre-3452JZF_ {
    background-image: url('./assets/backg.jpg');
  }
}

.DIV-carte-grise {
  display: flex;
  margin: 30px 30px 0px 30px;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100px;
  height: 85px;
}
.carte-grise {
  font-size: 180px;
}
.plaque {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 50px;
  text-align: right;
  margin-right: 100px;
}
.and56 {
  font-size: 100px;
  color: red;
}
.immatric {
  font-size: 30px;
}